In [4]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
penguins = pd.read_csv('datasets\\penguins.csv')
penguins

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,341,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,342,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [6]:
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              344 non-null    int64
 1   species            344 non-null    object
 2   island             344 non-null    object
 3   bill_length_mm     342 non-null    float64
 4   bill_depth_mm      342 non-null    float64
 5   flipper_length_mm  342 non-null    float64
 6   body_mass_g        342 non-null    float64
 7   sex                333 non-null    object
 8   year               344 non-null    int64
dtypes: float64(4), int64(2), object(3)
memory usage: 24.3+ KB

In [7]:
penguins.describe()

,rowid,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year
count,344.000000,342.000000,342.000000,342.000000,342.000000,344.000000
mean,172.500000,43.921930,17.151170,200.915205,4201.754386,2008.029070
std,99.448479,5.459584,1.974793,14.061714,801.954536,0.818356
min,1.000000,32.100000,13.100000,172.000000,2700.000000,2007.000000
25%,86.750000,39.225000,15.600000,190.000000,3550.000000,2007.000000
50%,172.500000,44.450000,17.300000,197.000000,4050.000000,2008.000000
75%,258.250000,48.500000,18.700000,213.000000,4750.000000,2009.000000
max,344.000000,59.600000,21.500000,231.000000,6300.000000,2009.000000

In [8]:
penguins.isnull().sum()

rowid                 0
species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [9]:
penguins['bill_length_mm'] = penguins['bill_length_mm'].fillna(penguins['bill_length_mm'].mean())
penguins['bill_depth_mm'] = penguins['bill_depth_mm'].fillna(penguins['bill_depth_mm'].mean())
penguins['flipper_length_mm'] = penguins['flipper_length_mm'].fillna(penguins['flipper_length_mm'].mean())
penguins['body_mass_g'] = penguins['body_mass_g'].fillna(penguins['body_mass_g'].mean())
penguins['sex'] = penguins['sex'].fillna(penguins['sex'].mode()[0])

penguins.isnull().sum()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
dtype: int64

In [10]:
penguins['rowid'] = penguins['rowid'].astype('category')
penguins['species'] = penguins['species'].astype('category')
penguins['island'] = penguins['island'].astype('category')
penguins['sex'] = penguins['sex'].astype('category')
penguins['year'] = penguins['year'].astype('category')

penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              344 non-null    category
 1   species            344 non-null    category
 2   island             344 non-null    category
 3   bill_length_mm     344 non-null    float64
 4   bill_depth_mm      344 non-null    float64
 5   flipper_length_mm  344 non-null    float64
 6   body_mass_g        344 non-null    float64
 7   sex                344 non-null    category
 8   year               344 non-null    category
dtypes: category(5), float64(4)
memory usage: 24.2 KB

<h1>---Data Exploration</h1>

In [11]:
penguins['species'].value_counts()

species
Adelie       152
Gentoo       124
Chinstrap     68
Name: count, dtype: int64

In [12]:
penguins['island'].value_counts()

island
Biscoe       168
Dream        124
Torgersen     52
Name: count, dtype: int64

In [13]:
penguins['species'] == 'Adelie'

0       True
1       True
2       True
3       True
4       True
       ...
339    False
340    False
341    False
342    False
343    False
Name: species, Length: 344, dtype: bool

In [14]:
penguins[penguins['species'] == 'Adelie']

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,39.10000,18.70000,181.000000,3750.000000,male,2007
1,2,Adelie,Torgersen,39.50000,17.40000,186.000000,3800.000000,female,2007
2,3,Adelie,Torgersen,40.30000,18.00000,195.000000,3250.000000,female,2007
3,4,Adelie,Torgersen,43.92193,17.15117,200.915205,4201.754386,male,2007
4,5,Adelie,Torgersen,36.70000,19.30000,193.000000,3450.000000,female,2007
...,...,...,...,...,...,...,...,...,...
147,148,Adelie,Dream,36.60000,18.40000,184.000000,3475.000000,female,2009
148,149,Adelie,Dream,36.00000,17.80000,195.000000,3450.000000,female,2009
149,150,Adelie,Dream,37.80000,18.10000,193.000000,3750.000000,male,2009
150,151,Adelie,Dream,36.00000,17.10000,187.000000,3700.000000,female,2009
151,152,Adelie,Dream,41.50000,18.50000,201.000000,4000.000000,male,2009

In [15]:
penguins['wkilo'] = np.round(penguins['body_mass_g'] / 1000, 1)
penguins

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,wkilo
0,1,Adelie,Torgersen,39.10000,18.70000,181.000000,3750.000000,male,2007,3.8
1,2,Adelie,Torgersen,39.50000,17.40000,186.000000,3800.000000,female,2007,3.8
2,3,Adelie,Torgersen,40.30000,18.00000,195.000000,3250.000000,female,2007,3.2
3,4,Adelie,Torgersen,43.92193,17.15117,200.915205,4201.754386,male,2007,4.2
4,5,Adelie,Torgersen,36.70000,19.30000,193.000000,3450.000000,female,2007,3.4
...,...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.80000,19.80000,207.000000,4000.000000,male,2009,4.0
340,341,Chinstrap,Dream,43.50000,18.10000,202.000000,3400.000000,female,2009,3.4
341,342,Chinstrap,Dream,49.60000,18.20000,193.000000,3775.000000,male,2009,3.8
342,343,Chinstrap,Dream,50.80000,19.00000,210.000000,4100.000000,male,2009,4.1
343,344,Chinstrap,Dream,50.20000,18.70000,198.000000,3775.000000,female,2009,3.8

<h1>#1 Does the Penguins species "Adelie" lives exclusively for Biscoe Island</h1>

<h2>---Adelie---</h2>

In [16]:
penguins['species'] == 'Adelie'

0       True
1       True
2       True
3       True
4       True
       ...
339    False
340    False
341    False
342    False
343    False
Name: species, Length: 344, dtype: bool

In [17]:
penguins['island'] == 'Biscoe'

0      False
1      False
2      False
3      False
4      False
       ...
339    False
340    False
341    False
342    False
343    False
Name: island, Length: 344, dtype: bool

<h2>---Adelie in Biscoe---</h2>

In [18]:
penguins[(penguins['species'] == 'Adelie') & (penguins['island'] == 'Biscoe')].count()

rowid                44
species              44
island               44
bill_length_mm       44
bill_depth_mm        44
flipper_length_mm    44
body_mass_g          44
sex                  44
year                 44
wkilo                44
dtype: int64

<h2>---Adelie in Dream---</h2>

In [19]:
penguins[(penguins['species'] == 'Adelie') & (penguins['island'] == 'Dream')].count()

rowid                56
species              56
island               56
bill_length_mm       56
bill_depth_mm        56
flipper_length_mm    56
body_mass_g          56
sex                  56
year                 56
wkilo                56
dtype: int64

<h2>---Adelie in Torgersen---</h2>

In [20]:
penguins[(penguins['species'] == 'Adelie') & (penguins['island'] == 'Torgersen')].count()

rowid                52
species              52
island               52
bill_length_mm       52
bill_depth_mm        52
flipper_length_mm    52
body_mass_g          52
sex                  52
year                 52
wkilo                52
dtype: int64

In [21]:
adelie_biscoe = penguins[(penguins['species'] == 'Adelie') & (penguins['island'] == 'Biscoe')]

In [22]:
adelie_dream = penguins[(penguins['species'] == 'Adelie') & (penguins['island'] == 'Dream')]

In [23]:
adelie_torgersen = penguins[(penguins['species'] == 'Adelie') & (penguins['island'] == 'Torgersen')]

<h1>Insight #1</h1>
<h3>No, penguins species does not exclusively on an island</h3>

<h2>---Gentoo---</h2>

<h2>---Gentoo in Biscoe---</h2>

In [24]:
penguins[(penguins['species'] == 'Gentoo') & (penguins['island'] == 'Biscoe')].count()

rowid                124
species              124
island               124
bill_length_mm       124
bill_depth_mm        124
flipper_length_mm    124
body_mass_g          124
sex                  124
year                 124
wkilo                124
dtype: int64

<h2>---Gentoo in Dream---</h2>

In [25]:
penguins[(penguins['species'] == 'Gentoo') & (penguins['island'] == 'Dream')].count()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
wkilo                0
dtype: int64

<h2>---Gentoo in Torgensen---</h2>

In [26]:
penguins[(penguins['species'] == 'Gentoo') & (penguins['island'] == 'Torgersen')].count()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
wkilo                0
dtype: int64

In [27]:
gentoo_biscoe = penguins[(penguins['species'] == 'Gentoo') & (penguins['island'] == 'Biscoe')]

In [28]:
gentoo_dream = penguins[(penguins['species'] == 'Gentoo') & (penguins['island'] == 'Dream')]

In [29]:
gentoo_torgersen = penguins[(penguins['species'] == 'Gentoo') & (penguins['island'] == 'Torgersen')]

<h1>Insight #2</h1>
<h3>Yes, penguins Gentoo are exclusively on the island of Biscoe</h3>

<h2>---Chinstrap---</h2>

<h2>---Chinstrap in Biscoe---</h2>

In [30]:
penguins[(penguins['species'] == 'Chinstrap') & (penguins['island'] == 'Biscoe')].count()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
wkilo                0
dtype: int64

<h2>---Chinstrap in Dream---</h2>

In [31]:
penguins[(penguins['species'] == 'Chinstrap') & (penguins['island'] == 'Dream')].count()

rowid                68
species              68
island               68
bill_length_mm       68
bill_depth_mm        68
flipper_length_mm    68
body_mass_g          68
sex                  68
year                 68
wkilo                68
dtype: int64

<h2>---Chinstrap in Torgersen---</h2>

In [32]:
penguins[(penguins['species'] == 'Chinstrap') & (penguins['island'] == 'Torgersen')].count()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
wkilo                0
dtype: int64

In [33]:
chinstrap_biscoe = penguins[(penguins['species'] == 'Chinstrap') & (penguins['island'] == 'Biscoe')]

In [34]:
chinstrap_dream = penguins[(penguins['species'] == 'Chinstrap') & (penguins['island'] == 'Dream')]

In [35]:
chinstrap_torgersen = penguins[(penguins['species'] == 'Chinstrap') & (penguins['island'] == 'Torgersen')]

<h1>Insight #3</h1>
<h3>Yes, penguins Chinstrap are exclusively on the island of Dream</h3>

<h1>#4 Does the Island affect the body mass of a penguins species</h1>

<h2>---Adelie---</h2>

In [36]:
adelie_biscoe['wkilo'].mean()

np.float64(3.715909090909091)

In [37]:
np.round(adelie_biscoe['wkilo'].mean(), 1)

np.float64(3.7)

In [38]:
adelie_dream['wkilo'].mean()

np.float64(3.6910714285714286)

In [39]:
np.round(adelie_dream['wkilo'].mean(), 1)

np.float64(3.7)

In [40]:
adelie_torgersen['wkilo'].mean()

np.float64(3.7115384615384617)

In [41]:
np.round(adelie_torgersen['wkilo'].mean(), 1)

np.float64(3.7)

<h1>Insight #4</h1>
<h3>The Adelie Species has an average weight of 3.7 kilo regardless of the island location where they live</h3>

<h2>---Gentoo---</h2>

In [42]:
gentoo_biscoe['wkilo'].mean()

np.float64(5.069354838709677)

In [43]:
np.round(gentoo_biscoe['wkilo'].mean(), 1)

np.float64(5.1)

In [44]:
gentoo_dream['wkilo'].mean()

nan

In [45]:
np.round(gentoo_dream['wkilo'].mean(), 1)

np.float64(nan)

In [46]:
gentoo_torgersen['wkilo'].mean()

nan

In [47]:
np.round(gentoo_torgersen['wkilo'].mean(), 1)

np.float64(nan)

<h1>Insight #5</h1>
<h3>The Gentoo Species has an average of 5.1 kilo in Biscoe Island</h3>

<h2>---Chinstrap---</h2>

In [48]:
chinstrap_biscoe['wkilo'].mean()

nan

In [49]:
np.round(chinstrap_biscoe['wkilo'].mean(), 1)

np.float64(nan)

In [50]:
chinstrap_dream['wkilo'].mean()

np.float64(3.730882352941177)

In [51]:
np.round(chinstrap_dream['wkilo'].mean(), 1)

np.float64(3.7)

In [52]:
chinstrap_torgersen['wkilo'].mean()

nan

In [53]:
np.round(chinstrap_torgersen['wkilo'].mean(), 1)

np.float64(nan)

<h1>Insight #6</h1>
<h3>The Chinstrap Species has an average of 3.7 kilo in Dream Island</h3>

<h3>HOW TO USE .groupby</h3>
<ul>
    <li>Variable Name</li>
    <li>Call the Dataframe</li>
    <li>Use the .groupby() function to start the aggregation</li>
    <li>Select from the available function</li>
</ul>

<h1>#7 Who is the heaviest species</h1>

<h1>Insight #7</h1>
<h3>The heaviest species is Gentoo that have 5.1 kilo</h3>

<h1>#8 What year has the most recorded data for male, species Adelie?</h1>

In [54]:
penguin = penguins.groupby(["species", "sex", "year"]).count()
penguin

C:\Users\LAB4-StudentPC32\AppData\Local\Temp\ipykernel_8576\3588189813.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  penguin = penguins.groupby(["species", "sex", "year"]).count()

                       rowid  island  bill_length_mm  bill_depth_mm  \
species   sex    year
Adelie    female 2007     22      22              22             22
                 2008     25      25              25             25
                 2009     26      26              26             26
          male   2007     28      28              28             28
                 2008     25      25              25             25
                 2009     26      26              26             26
Chinstrap female 2007     13      13              13             13
                 2008      9       9               9              9
                 2009     12      12              12             12
          male   2007     13      13              13             13
                 2008      9       9               9              9
                 2009     12      12              12             12
Gentoo    female 2007     16      16              16             16
                 2008     22      22              22             22
                 2009     20      20              20             20
          male   2007     18      18              18             18
                 2008     24      24              24             24
                 2009     24      24              24             24

                       flipper_length_mm  body_mass_g  wkilo
species   sex    year
Adelie    female 2007                 22           22     22
                 2008                 25           25     25
                 2009                 26           26     26
          male   2007                 28           28     28
                 2008                 25           25     25
                 2009                 26           26     26
Chinstrap female 2007                 13           13     13
                 2008                  9            9      9
                 2009                 12           12     12
          male   2007                 13           13     13
                 2008                  9            9      9
                 2009                 12           12     12
Gentoo    female 2007                 16           16     16
                 2008                 22           22     22
                 2009                 20           20     20
          male   2007                 18           18     18
                 2008                 24           24     24
                 2009                 24           24     24

In [55]:
penguin = penguins.groupby(["species", "sex", "year"]).size()
penguin

C:\Users\LAB4-StudentPC32\AppData\Local\Temp\ipykernel_8576\4209612863.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  penguin = penguins.groupby(["species", "sex", "year"]).size()

species    sex     year
Adelie     female  2007    22
                   2008    25
                   2009    26
           male    2007    28
                   2008    25
                   2009    26
Chinstrap  female  2007    13
                   2008     9
                   2009    12
           male    2007    13
                   2008     9
                   2009    12
Gentoo     female  2007    16
                   2008    22
                   2009    20
           male    2007    18
                   2008    24
                   2009    24
dtype: int64

In [56]:
penguin.unstack()

year              2007  2008  2009
species   sex
Adelie    female    22    25    26
          male      28    25    26
Chinstrap female    13     9    12
          male      13     9    12
Gentoo    female    16    22    20
          male      18    24    24

<h1>Insight #8</h1>
<h3>The year 2007 has the most recorded data for male in species Adelie</h3>

<h1>#9 Which is the heaviest between penguins species in terms of Sex</h1>

In [57]:
weight_sex = np.round(penguins.groupby(["species", "sex"])["wkilo"].mean(), 1)
weight_sex

C:\Users\LAB4-StudentPC32\AppData\Local\Temp\ipykernel_8576\1663874216.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  weight_sex = np.round(penguins.groupby(["species", "sex"])["wkilo"].mean(), 1)

species    sex
Adelie     female    3.4
           male      4.0
Chinstrap  female    3.5
           male      3.9
Gentoo     female    4.7
           male      5.4
Name: wkilo, dtype: float64

In [58]:
weight_sex.unstack()

sex        female  male
species
Adelie        3.4   4.0
Chinstrap     3.5   3.9
Gentoo        4.7   5.4

<h1>Insight #9</h1>
<h3>Male penguins have the heaviest species</h3>

<h1>#10 What year has the highest recorded weight for male and female</h1>

In [59]:
weight_year = np.round(penguins.groupby(["species", "sex", "year"])["wkilo"].mean(), 1)
weight_year

C:\Users\LAB4-StudentPC32\AppData\Local\Temp\ipykernel_8576\393264314.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  weight_year = np.round(penguins.groupby(["species", "sex", "year"])["wkilo"].mean(), 1)

species    sex     year
Adelie     female  2007    3.4
                   2008    3.4
                   2009    3.3
           male    2007    4.0
                   2008    4.1
                   2009    4.0
Chinstrap  female  2007    3.6
                   2008    3.5
                   2009    3.5
           male    2007    3.8
                   2008    4.1
                   2009    3.9
Gentoo     female  2007    4.6
                   2008    4.6
                   2009    4.8
           male    2007    5.5
                   2008    5.4
                   2009    5.4
Name: wkilo, dtype: float64

In [60]:
weight_year.unstack()

year              2007  2008  2009
species   sex
Adelie    female   3.4   3.4   3.3
          male     4.0   4.1   4.0
Chinstrap female   3.6   3.5   3.5
          male     3.8   4.1   3.9
Gentoo    female   4.6   4.6   4.8
          male     5.5   5.4   5.4

<h1>Insight #10</h1>
<h3>2007 and 2009 has the highest recorded weight of male in Gentoo Species</h3>
<h3>2009 has the highest recorded weight of female in Gentoo Species</h3>

<h1>---Correlation v Causation</h1>
<h2>STATISTICAL TREATMENT - Pearson R Correlation</h2>

<h4>P VALUE in Statistics</h4>
<p>A <b>p-value</b> is a statistical measurement used to validate a hypothesis against observe data. It measures the probability of obtaining the observed results, assuming that the null hypothesis is true. A lower p-value indicates greater statistical significance of the observed difference</p>

<h4>Anything ABOVE .5 means the Two Values has a STRONG CORRELATION</h4>
<h4>Anything BELOW .5 means the Two Values has a NO CORRELATION</h4>

<h3>REQUIREMENTS FOR CORRELATION</h3>
<ul>
    <li>Naming the Variable</li>
    <li>First Column to Test</li>
    <li>.corr Function</li>
    <li>Second Column to Test</li>
</ul>

<h1>#11 Correlation between bill_length_mm and bill_depth_mm</h1>

In [61]:
b_length_depth = penguins['bill_length_mm'].corr(penguins['bill_depth_mm'])
b_length_depth

np.float64(-0.23505287035553282)

<h1>Insight #11</h1>
<h3>There is NO CORRELATION between bill length and bill depth</h3>

<h1>#12 Correlation between flipper_length_mm and wkilo</h1>

In [62]:
b_flipper_wkilo = penguins['flipper_length_mm'].corr(penguins['wkilo'])
b_flipper_wkilo

np.float64(0.8706550277578784)

<h1>Insight #12</h1>
<h3>There is CORRELATION between flipper length and wkilo</h3>

<h1>#13 Correlation between bill_length_mm and wkilo</h1>

In [63]:
b_depth_wkilo = penguins['bill_length_mm'].corr(penguins['wkilo'])
b_depth_wkilo

np.float64(0.5931909066868786)

<h1>Insight #13</h1>
<h3>There is CORRELATION between bill length and wkilo</h3>

<h1>#14 Correlation between bill_length and flipper_length</h1>

In [64]:
b_length_flipper = penguins['bill_length_mm'].corr(penguins['flipper_length_mm'])
b_length_flipper

np.float64(0.6561813407464278)

<h1>Insight #14</h1>
<h3>There is CORRELATION between bill depth and flipper length</h3>

<h1>+Correlation between bill_depth and flipper_length</h1>
<h3>+There is NO CORRELATION between bill depth and flipper length</h3>

In [65]:
b_depth_flipper = penguins['bill_depth_mm'].corr(penguins['flipper_length_mm'])
b_depth_flipper

np.float64(-0.5838512164654122)

<h1>---Correlation Analysis Between Qualitative Data and Quantitative Data</h1>

<h2>Use of One Way Anova</h2>
<h3>Science Python Library -- Known as Scipy</h3>

In [66]:
pip install scipy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scipy in c:\users\lab4-studentpc32\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (1.15.2)
Requirement already satisfied: numpy<2.5,>=1.23.5 in c:\users\lab4-studentpc32\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from scipy) (2.2.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: C:\Users\LAB4-StudentPC32\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [67]:
from scipy.stats import f_oneway

<h3>---Testing Correlation between Body Mass and Sex</h3>

In [68]:
penguins[penguins['sex'] == 'male']['body_mass_g']

0      3750.000000
3      4201.754386
5      3650.000000
7      4675.000000
8      3475.000000
          ...
334    3800.000000
336    3950.000000
339    4000.000000
341    3775.000000
342    4100.000000
Name: body_mass_g, Length: 179, dtype: float64

In [69]:
f_stats, p_value = f_oneway(penguins[penguins['sex'] == 'male']['body_mass_g'],
                            penguins[penguins['sex'] == 'female']['body_mass_g'])

p_value

np.float64(3.0226600487050246e-15)

<h1>Insight #15</h1>
<h3>There is STRONG CORRELATION between Body Mass and Sex</h3>

<h3>---Testing Correlation between Body Mass and Islands</h3>

In [70]:
f_stats, p_value = f_oneway(penguins[penguins['island'] == 'Biscoe']['body_mass_g'],
                            penguins[penguins['island'] == 'Dream']['body_mass_g'],
                            penguins[penguins['island'] == 'Torgersen']['body_mass_g'])

p_value

np.float64(1.750146154234633e-37)

<h1>Insight #16</h1>
<h3>There is STRONG CORRELATION between Islands and Body Mass</h3>

In [72]:
penguinsss = penguins[(penguins['island'] == 'Dream') & (penguins['wkilo'] > 3.9) & (penguins['wkilo'] < 4.2)]

In [73]:
penguinsss

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,wkilo
36,37,Adelie,Dream,38.8,20.0,190.0,3950.0,male,2007,4.0
88,89,Adelie,Dream,38.3,19.2,189.0,3950.0,male,2008,4.0
99,100,Adelie,Dream,43.2,18.5,192.0,4100.0,male,2008,4.1
137,138,Adelie,Dream,40.2,20.1,200.0,3975.0,male,2009,4.0
151,152,Adelie,Dream,41.5,18.5,201.0,4000.0,male,2009,4.0
281,282,Chinstrap,Dream,45.2,17.8,198.0,3950.0,female,2007,4.0
289,290,Chinstrap,Dream,52.0,18.1,201.0,4050.0,male,2007,4.0
291,292,Chinstrap,Dream,50.5,19.6,201.0,4050.0,male,2007,4.0
309,310,Chinstrap,Dream,51.0,18.8,203.0,4100.0,male,2008,4.1
316,317,Chinstrap,Dream,49.0,19.5,210.0,3950.0,male,2008,4.0
327,328,Chinstrap,Dream,51.4,19.0,201.0,3950.0,male,2009,4.0
329,330,Chinstrap,Dream,50.7,19.7,203.0,4050.0,male,2009,4.0
333,334,Chinstrap,Dream,49.3,19.9,203.0,4050.0,male,2009,4.0
336,337,Chinstrap,Dream,51.9,19.5,206.0,3950.0,male,2009,4.0
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009,4.0
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009,4.1